@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#df2532;
  --primary-light:#faecee;
  --secondary:#00bf9f;
  --secondary-light:#e9fbf8;
  --tertiary:#888;
}


@font-face {
      font-family: Shabnam;
      src: url(../public/font/Shabnam-Medium.ttf) format('truetype');
    }

* {
      font-family: Shabnam;
 }
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-iran-sans: var(--font-iran-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-iran-sans),Arial, Helvetica, sans-serif;
}
